@import './variables.css';


html {
  background-color: #f1f5f9;
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav styles */

.nav__links {
  width: 100%;
  height: 100%;
  display: none;
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__links a {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 0;
}

.nav__links a:hover,
a:focus {
  text-decoration: underline;
}


@media screen and (min-width: 636px) {
  .nav__links {
    display: block;
    position: static;
    width: auto;
    background: none;
    margin: 0;
  }

  .nav__links a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    text-align: centre;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  /* Mobile styles */
  @media screen and (max-width: 768px) {
    .nav__links {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #333;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    .nav__links.active {
      max-height: 400px;
    }

    .nav__links ul {
      flex-direction: column;
      gap: 0;
    }

    .nav__links li {
      padding: 1rem 2rem;
      border-top: 1px solid #444;
    }
  }


}