@import './variables.css';


html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.nav-links {
  width: 100%;
  height:100%;
  display: none;
  margin: 0;
}

nav {
    display: flex;
    align-items: center;
    height: 78px;
    padding: 8px 32px;
    width:100%;
    background-color: var(--pj_brand_blue);
    margin: 0;   
    border-bottom: 1px solid var(--pg_blue_05);
    text-align: centre;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#nav-menu {
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 0;
}

.nav-links img {
    height: 64px;
}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: nderline;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    margin:0;
  }

  .nav-links a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    text-align: centre;
  }

  ul, li{
    margin: 0;
    padding: 0; 
  }

  nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;   
  }
}