@import './variables.css';


html {
  background-color: #f1f5f9;
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
   font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav styles */

.nav-links {
  width: 100%;
  height:100%;
  display: none;
  margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.nav-links a {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 0;
}

.nav-links a:hover, a:focus {
  text-decoration: underline;
}

.header__wrapper {
  width: 100%;
  display: grid;
  grid-auto-rows: 2.5rem 12fr;
  align-items: center;
  padding: 1.6rem 1rem;
  background-color: var(--pj_brand_blue);
  box-shadow:inset 0 -1px 0 var(--pj_grey_10);

}

.header__logo {
    grid-column: 1 / span 2;
    height: auto;
}

.header__nav{
  grid-column: 12;
}

.header__logo img {
    height: 64px;
}


@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    margin:0;
  }

  .nav-links a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    text-align: centre;
  }

  ul, li{
    margin: 0;
    padding: 0; 
  }

  nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;   
  }


}