---

interface Props {
    BodyCopy: string;
    width?: "compact" | "regular";
    fontSize? : "regular" | "lede" | "large";
}

const { ledeCopy } = Astro.props;
const { BodyCopy } = Astro.props;
const { width = "regular" } = Astro.props;
const { fontSize = "regular" } = Astro.props;

--- 
<div class="text__block" data-variant={width} >
    <div class="body__copy" data-variant={fontSize} >
       <p>{BodyCopy}</p>
    </div>
</div>

<style>
    .text__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        height: auto;
        width: 100%;
    }

    .text__block[data-variant="regular"] {
        grid-column: 3 / 9;
    }

    .text__block[data-variant="wide"] {
        grid-column: 3 / 9;
    }

    .body__copy p {
        font-family: "Instrument Sans";
        font-style: normal;
        font-weight: 400;
        line-height: 1.4rem;
        letter-spacing: -0.306px;
        color: var(--core-pj-blue-80, #1f2a2a);
        margin: 0;
        text-wrap: pretty;
    }

    .body__copy[data-variant="regular"] p {
        font-size: 1rem;
    }

    .body__copy[data-variant="large"] p {
        font-size: 1.5rem;
        line-height: 1.95rem;
        font-weight: 400;
    }

    @media screen and (min-width: 768px) {
        .text__block {
        width: 90%;
    }

    .lede__copy[data-variant="lede"] p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
    }

    .body__copy[data-variant="large"] p {
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 400;
    }
        
    }
    
</style>