---
interface Props {
    headline: string;
}

const { headline } = Astro.props;
---

<div class="hero__text-wrapper">
    <div class="hero__content">
        <div class="hero__headline">
            <h1>
                {headline}
            </h1>
        </div>
    </div>

    <style>
        h1 {
            color: var(--core-pj-blue-05, #f3f6f6);
            font-family: "Instrument Sans";
            font-size:3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 64px; /* 81.818% */
            letter-spacing: -1.496px;
        }

        .hero__text-wrapper {
            position: relative;
            display: grid;
            grid-column: 1 / -1;
            height: 20vh;
            margin-bottom: 3rem;
            width: 100vw;
            background: var(--pj_brand_blue);
            color: white;

        }

        .hero__content {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between; /* Pushes text to top, button to bottom */
            padding-top: 3rem;
        }

       

        /* Tablet */
        @media screen and (min-width: 768px) {
            h1 {
            font-size: 88px;
            line-height: 80px; /* 81.818% */

            }

            .hero__text-wrapper {
                grid-template-columns: subgrid;
                padding-top: 1rem;
                height: 30vh;

            }

            .hero__content {
                grid-column: 2 / 8; /* Use more columns on tablet */
            }
        }

        /* Desktop */
        @media screen and (min-width: 1024px) {
            .hero__text-wrapper {
                display: grid;
                grid-template-columns: subgrid;
            }

            .hero__content {
                grid-column: 2 / 6; /* Spans 6 columns on desktop */
            }

            .hero__subheadline {
                max-width: 100%; /* Allow full width of container */
            }
        }
    </style>
</div>
