---
// src/components/Product/ProductImage.astro
interface Props {
  imageUrl: string;
  imageAlt: string;
}

const { imageUrl, imageAlt } = Astro.props;
---

<div class="product-image">
  <img src={imageUrl} alt={imageAlt} />
</div>

<style>
  .product-image {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 0.25rem;
  }

  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>