---
// src/components/Product/ProductActions.astro
import Button from "../UI/Button.astro";

interface Props {
  hasDatasheet?: boolean;
  datasheetUrl?: string;
  datasheetFileName?: string;
}

const { hasDatasheet=false, datasheetUrl, datasheetFileName } = Astro.props;
---

<div class="product-actions">
  {datasheetUrl && (
    <Button type="button" variant="tertiary" href={datasheetUrl} download={datasheetFileName}
    target="_blank" rel="noopener noreferrer">
      Download Datasheet
    </Button>
  )}
  <Button type="button" variant="primary" href="/contact">
    Request a Quote
  </Button>
</div>

<style>
  .product-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    .product-actions {
      flex-direction: row;
    }
  }
</style>