---
import "../styles/global.css";

import { sanityClient } from "../lib/sanity";

import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "404: Page Not Found | Powerjet";
---

<BaseLayout title={title}>
  <Header transition:persist />
  <body>
    <div class="page-grid">
      <section class="section__contact-details">
        <div class="contact__title">
          <h1>Page not found</h1>
        </div>
        <div class="divider__border"></div>
      </section>
    </div>
  </body>
</BaseLayout>
<Footer transition:persist />

<style>
  .section__contact-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2 / -2;
    gap: 1rem;
    margin-top: 4rem;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1024px) {
    .section__contact-details {
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 2 / -2;
      gap: 1rem;
      margin-top: 4rem;
    }
  }
</style>
