---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TextHero from "../components/TextHero.astro";
import Card from "../components/Card.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Powerjet Rentals UK</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<Header />
	<body>
		<div class="page-grid">
			<section class="section__contact-details">
				<div class="contact__title">
					<h1>Contact</h1>
				</div>
				<div class="divider__border"></div>
				<div class="contact__details-wrapper">
					<div class="contact__details">
						<div class="contact__details-block-wrapper">
							<div class="contact__details-block">
								<h5>Call</h5>
								<p>+44 (0) 141 440 5757</p>
							</div>
							<div class="contact__details-block">
								<h5>Email</h5>
								<p>mail@powerjet-uk.com</p>
							</div>
						</div>
						<div class="contact__details-block-wrapper">
							<div class="contact__details-address">
								<h5>Head office</h5>
								<p>97 Loanbank Crescent</p>
								<p>Glasgow</p>
								<p>G51 3HZ</p>
								<p>United Kingdom</p>
							</div>
							<div class="contact__details-opening-hours-wrapper">
								<h5>Opening hours</h5>
								<div class="contact__details-opening-hours">
									<div
										class="contact__details-opening-hours-days"
									>
										<p>Monday - Thursday:</p>
										<p>Friday:</p>
										<p>Saturday:</p>
										<p>Sunday:</p>
									</div>
									<div
										class="contact__details-opening-hours-time"
									>
										<p>08:00 - 16:30</p>
										<p>08:00 - 16:00</p>
										<p>08:00 - 12:00</p>
										<p>Closed</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="contact__details-map"></div>
				</div>
			</section>

			<div class="section__contact-form"></div>
		</div>
	</body>
	<Footer />

	<style>
		.section__contact-details {
			display: grid;
			grid-template-columns: 1fr;
			grid-column: 2 / -2;
			gap: 1rem;
			margin-top: 4rem;
		}

		.contact__details {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		

		.contact__details-opening-hours {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			margin-bottom: 3rem;
		}



		.section__contact-details h1 {
			font-weight: 500;
			color: var(--pj_blue_90);
		}

		.section__contact-details h5 {
			font-weight: 400;
			color: var(--pj_blue_90);
		}

		.contact__details-map {
			width: 100%;
			height: 500px;
			background-color: var(--pj_blue_10);
			border-radius: 4px;
		}

		.contact__details-block p {
			font-weight: 500;
			color: var(--pj_blue_90);
		}

		.contact__details-block-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.contact__details-block {
			display: flex;
			padding: 16px;
			flex-direction: column;
			align-items: flex-start;
			width: max-content;
			gap: 4px;
			flex: 1 0 0;
			border-radius: 4px;
			background: var(--pj_blue_10);
		}

		.contact__details-opening-hours {
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}

		@media screen and (min-width: 768px) {
			.contact__details-wrapper {
				display: flex;
				flex-direction: row;
				gap: 2rem;
			}

			.contact__details-block-wrapper {
				display: flex;
				flex-direction: row;
				gap: 1rem;
			}
		}

		@media screen and (min-width: 1024px) {
			.section__contact-details {
				display: grid;
				grid-template-columns: 1fr;
				grid-column: 2 / -2;
				gap: 1rem;
				margin-top: 4rem;
			}

			.contact__details-block {
				display: flex;
				padding: 16px;
				flex-direction: column;
				align-items: flex-start;
				width: max-content;

				gap: 4px;
				flex: 1 0 0;
				border-radius: 4px;
				background: var(--pj_blue_10);
			}
		}
	</style>


</html>
