---
import Layout from "../layouts/Layout.astro";
import CTABanner from "../components/CTABanner.astro";
import TextBlock from "../components/TextBlock.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Divider from "../components/Divider.astro";
import ApplicationCarousel from "../components/ApplicationCarousel.astro";
---

<Layout title="Powerjet Rentals UK">
	<div class="section__product span-full">
		<div class="section__product__text">
			<SectionTitle
				Headline="Discover our products"
				HeadingSize="regular"
			/>
			<TextBlock
				BodyCopy="We offer a  comprehensive fleet of High-Pressure (HP) and Ultra-High Pressure (UHP) jetting units, complemented by specialised accessories."
			/>
		</div>

		<div class="section__product__cards">
			<Card
				imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
				imgAlt="MagTrack unit removing paint from the side of a ship's hull"
				hrefLink="/rentals"
				buttonLabel="Rentals"
			/>
			<Card
				imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
				imgAlt="MagTrack unit removing paint from the side of a ship's hull"
				hrefLink="/sales"
				buttonLabel="Sales"
			/>
		</div>
	</div>
	<!-- <ApplicationCarousel />  -->
	<CTABanner />
	<Divider />
	<section class="section__about-us ">
		<SectionTitle Headline="About us" HeadingSize="small" />
		<TextBlock
			BodyCopy="For over 20 years, Powerjet has been a trusted supplier of High-Pressure and Ultra High-Pressure Water Jetting Units, delivering complete solutions for the toughest industrial challenges."
			fontSize="large"
		/>
	</section>
	<section class="section__partner-logo span-full">
		<SectionTitle Headline="Proud to partner with" HeadingSize="small" />
		<div class="grid__partner-logo-wrapper">
			<div class="grid__partner-logo">
				<img
					src="/src/assets/logos/partners/jetstream-logo-color.png"
					style="transform: scale(0.8);"
				/>
			</div>
			<div class="grid__partner-logo">
				<img src="/src/assets/logos/partners/stoneage-logo-color.svg" 
				style="transform: scale(0.7);"
				/>
			</div>
			<div class="grid__partner-logo">
				<img
					src="/src/assets/logos/partners/DERC Salotech.png"
					style="transform: scale(0.7);"
				/>
			</div>
			<div class="grid__partner-logo">
				<img
					src="/src/assets/logos/partners/tetraCORE LOGO.png"
					
				/>
			</div>
			<div class="grid__partner-logo">
				<img
					src="/src/assets/logos/partners/tst_logotype_001_vertical_RGB.png"
					
				/>
			</div>
		</div>
	</section>
</Layout>
<!-- <Footer /> -->

<style>
	.section__product {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin-bottom: 7.75rem;
	}

	.section__product__text {
		display: flex;
		flex-direction: column;
		
	}

	.section__product__cards {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.section__about-us {
		grid-column: 2 / -2;
		display: flex;
		flex-direction: column;
		margin-bottom: 7.75rem;
	}

	.section__partner-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
		margin-bottom: 7.75rem;
		gap: 3rem;
	}

	.grid__partner-logo-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
        gap: 3rem;
        width: 100%;
	}

	.grid__partner-logo {
		display: flex;
		align-items: center;
        justify-content: center;
		width: fit-content;
		height: fit-content;
		overflow: hidden; /* Hides SVG padding */
	}

	.grid__partner-logo img {
		display: block;
		object-fit: contain;
		width: auto;
		height: 5rem;
	}

	 /* SVG-specific sizing */
    .grid__partner-logo svg {
        max-width: 100%;
        height: auto;
    }

	@media screen and (min-width: 768px) {
		.section__product {
		flex: 1;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		margin-bottom: 7.75rem;
	}

	.section__product__text {
		display: flex;
		flex-direction: column;
		
	}

	.section__product__cards {
		flex: 1;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
	}

	.section__about-us {
		grid-column: 2 / -2;
		display: flex;
		flex-direction: column;
		margin-bottom: 7.75rem;
	}

	}
</style>
