---
import Layout from "../layouts/Layout.astro";
import CTABanner from "../components/CTABanner.astro";
import TextBlock from "../components/TextBlock.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Divider from "../components/Divider.astro";
import ApplicationCarousel from "../components/ApplicationCarousel.astro";

---

<Layout title="Powerjet Rentals UK">
	<div class="section__product">
		<div class="section__product__text">
			<SectionTitle
				Headline="Discover our products"
				HeadingSize="regular"
			/>
			<TextBlock
				BodyCopy="We offer a  comprehensive fleet of High-Pressure (HP) and Ultra-High Pressure (UHP) jetting units, complemented by specialised accessories."
			/>
		</div>

		<div class="section__product__cards">
			<Card
				imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
				imgAlt="MagTrack unit removing paint from the side of a ship's hull"
				hrefLink="/rentals"
				buttonLabel="Rentals"
			/>
			<Card
				imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
				imgAlt="MagTrack unit removing paint from the side of a ship's hull"
				hrefLink="/sales"
				buttonLabel="Sales"
			/>
		</div>
	</div>
	<ApplicationCarousel />
	<CTABanner />
	<Divider />
	<div class="section__about-us">
			<SectionTitle
				Headline="About us"
				HeadingSize="regular"
			/>
			<TextBlock
				BodyCopy="For over 20 years, Powerjet has been a trusted supplier of High-Pressure and Ultra High-Pressure Water Jetting Units, delivering complete solutions for the toughest industrial challenges."
			/>
		</div>
</Layout>
<Footer />

<style>
	.section__product {
		grid-column: 3 / 13; /* Skip first and last content column (inset by 1) */
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		margin-bottom: 7.75rem;
	}

	.section__product__text {
		grid-column: 3 / 8;
		display: flex;
		flex-direction: column;
	}

	.section__product__cards {
		grid-column: 8 / 13;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
	}

	.section__about-us{
		grid-column: 3 / 8;
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
	}

	@media screen and (max-width: 768px) {
		.section__product {
			grid-column: 3 / 13; /* Skip first and last content column (inset by 1) */
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
		}
	}
</style>
