---
import Divider from "./Divider.astro";
import SectionTitle from "./SectionTitle.astro";
import CarouselCard from "./CarouselCard.astro";
---

<div class="section-applications__wrapper span-full">
    <SectionTitle Headline="Industrial applications" HeadingSize="regular" />
    <Divider />

    <div class="section-application__carousel-wrapper">
        <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 1"
            hrefLink="/applications/abrasive-water-jet-cutting"
            applicationTitle="Abrasive Water Jet Cutting"
        />
         <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 2"
            hrefLink="/applications/drain-sewer-cleaning"
            applicationTitle="Drain and Sewer Cleaning"
        />
         <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 3"
            hrefLink="/applications/hyrdro-demolition"
            applicationTitle="Hydro Demolition"
        />
           <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 6"
            hrefLink="/applications/pipe-cleaning"
            applicationTitle="Pipe Cleaning"
        />
         <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 4"
            hrefLink="/applications/surface-preparation-cleaning"
            applicationTitle="Surface Preparation and Cleaning"
        />
         <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 5"
            hrefLink="/applications/tank-vessel-cleaning"
            applicationTitle="Tank and Vessel Cleaning"
        />
         <CarouselCard
            imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
            imgAlt="Application 7"
            hrefLink="/applications/pipe-cleaning"
            applicationTitle="Tube Cleaning"
        />
    </div>
</div>

<style>
     .section-applications__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 7.75rem;
        overflow-x: hidden;
    }

    .section-application__carousel-wrapper {
        display: flex;
        gap: 1.5rem;
        overflow-x: scroll;
    }
</style>
