---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    variant: "primary" | "secondary" | "tertiary";
}
const { variant, ...props } = Astro.props;
---

<div class="button">
    <a
        {...props}
        class:list={[
            "button",
            { primary: variant === "primary" },
            { secondary: variant === "secondary" },
            { tertiary: variant === "tertiary" },

            Astro.props.class,
        ]}
    >
        <slot />
    </a>
</div>

<style>
    .button {
        display: inline-block;
        border-radius: 100px;
        text-align: left;
        border: 1px solid transparent;
        font-size: 0.875rem;
        font-weight: 400;
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .primary {
        background-color: var(--pj_brand_blue);
        border: 1px solid var(--pj_brand_blue);
        padding: 0.5rem 1.5rem;
    }

    .secondary {
        background-color: var(--pj_brand_blue);
        padding: 0.5rem 1.5rem;
        border: 1px solid var(--pj_blue_10);
    }

    .tertiary {
        background-color: transparent;
        padding: 0.5rem 1.5rem;
        border: 1px solid var(--pj_brand_blue);
        color: var(--pj_brand_blue);
    }

    .secondary:hover {
        background-color: var(--pj_blue_90);
        transition: background-color 0.3s ease;
    }

    .tertiary:hover {
        background-color: var(--pj_blue_20);
        transition: background-color 0.3s ease;
    }

    @media screen and (max-width: 768px) {
        .button {
            display: block;
            text-align: center;
            width: 100%;
        }
    }

</style>
