---
interface Props {
    imgSrc: string;
    imgAlt: string;
    hrefLink: string;
    applicationTitle: string;
}

const { imgSrc } = Astro.props;
const { imgAlt } = Astro.props;

const { hrefLink } = Astro.props;
const { applicationTitle } = Astro.props;
---

<link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
/>

<div class="application-carousel__slide-wrapper">
    <a href={hrefLink}>
        <div class="application-carousel__slide-image-wrapper">
            <img src={imgSrc} alt={imgAlt} />
        </div>
        <div class="application-carousel__slide-content-wrapper">
            {applicationTitle}
        </div>
    </a>

    <style>
        .application-carousel__slide-wrapper {
            grid-column: span 3; /* Spans 3 out of 12 columns */
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
        }

        .application-carousel__slide-wrapper a {
            text-decoration: none;
        }

        .application-carousel__slide-image-wrapper {
            aspect-ratio: 280 / 480;
            overflow: hidden;
            border-radius: 0.25rem;
        }

        .application-carousel__slide-image-wrapper img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;
        }

        .application-carousel__slide-wrapper:hover
            .application-carousel__slide-image-wrapper
            img {
            transform: scale(1.05); /* Zoom in effect */
        }

        .application-carousel__slide-wrapper:hover
            .application-carousel__slide-content-wrapper {
            color: var(--pj_blue_70);
        }

        .application-carousel__slide-content-wrapper {
            display: flex;

            margin-top: 1rem;
            color: black;
            font-family: "Instrument Sans";
            font-size: 1.25rem;
            font-weight: 400;

            letter-spacing: -0.306px;
        }
    </style>
</div>
