---
import Button from "./Button.astro";

interface Props {
    imageFirst?: "true" | "false";
    CTA?: "true" | "false";
}

const { imageFirst = "false" } = Astro.props;
const { CTA = "false" } = Astro.props;
---

<div class="content__block__wrapper" data-variant={imageFirst}>
    <div class="content__block-body">
        <div class="content__block-body-text">
            <h2>Repairs and Servicing</h2>
            <p>
                Our team of highly trained technicians can undertake work either
                on-site or at our fully equipped facility, ensuring equipment is
                maintained to the highest standards with minimal disruption to
                your operations.
            </p>
        </div>
        <div class="content__block-body-cta">
            <Button href="/services" variant="tertiary" data-variant={CTA}
                >Find out more</Button
            >
        </div>
    </div>
    <div class="content__block-media">
        <img
            src="/src/assets/PJ-Screen-cap-tst-wash.png"
            alt="Power jetting operative wearing TST safety gear whilst operating power jet washer"
        />
    </div>
</div>

<style>
    .content__block__wrapper {
        grid-column: 2 / -2; /* Skip first and last content column (inset by 1) */
        height: auto;

		display: grid;
		grid-template-columns: subgrid;
		gap: 1.5rem;
		margin-bottom: 3rem;
    }

    .content__block-body {
        display: flex;
        flex-direction: column;
    }

    .content__block-body-text {
        display: flex;
        flex-direction: column;
        gap: var(--space-4); /* THIS controls spacing between h2 and p */
        width: 90%;
        flex: 1;
        grid-row: 2;
    }

    .content__block-body-text h2 {
        font-weight: 500;
        color: var(--pj_blue_80);
    }

    .content__block-body-text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .content__block-media {
        grid-column: 2 / -2; /* Skip first and last content column (inset by 1) */
        margin-bottom: 1rem;
        grid-row: 1;
    }

    .content__block-media img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
    }

    .content__block-body-cta [data-variant="true"] {
        display: inline-block;
    }

    .content__block-body-cta [data-variant="false"] {
        display: none;
    }

    /* Show on tablet and desktop */
    @media (min-width: 768px) {
        .content__block__wrapper {
            display: flex;
            flex-direction: row;
            height: 335px;
            width: 100%;
            margin-bottom: 7.75rem;
            gap: 2rem;
        }

        .content__block__wrapper[data-variant="true"] {
            flex-direction: row-reverse;
        }

        .content__block-body-text {
            display: flex;
            flex-direction: column;
            gap: var(--space-4); /* THIS controls spacing between h2 and p */
            flex: 1;
            padding-top: 1rem;
        }

    

        .content__block-media {
            grid-column: 2 / -2; /* Skip first and last content column (inset by 1) */
            display: flex;
            overflow: hidden;
        }

        .content__block-media img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.25rem;
        }

        .content__block-body-text[data-variant="false"] {
            display: none;
        }
    }
</style>
