---
import Button from "./Button.astro";
---

<div class="cta__banner__wrapper span-full">
    <div class="cta__banner__content">
        <div class="cta__banner__text">
            <h2>WJA Training</h2>
            <p>
                We offer fully registered training with The Water Jetting
                Association, the benchmark for safety in the water jetting
                industry throughout the U.K.
            </p>
        </div>
        <Button href="/services" variant="secondary">Find out more</Button>
    </div>
    <div class="cta__banner__image">
        <img
            src="/src/assets/PJ-Screen-cap-tst-wash.png"
            alt="Power jetting operative wearing TST safety gear whilst operating power jet washer"
        />
    </div>
</div>

<style>
    .cta__banner__wrapper {
        grid-column: 2 / -2; /* Skip first and last content column (inset by 1) */
        display: flex;
        height: 335px;
        flex-direction: column;
        background-color: var(--pj_brand_blue);
        color: white;
        border-radius: 0.25rem;
        margin-bottom: 7.75rem;
    }

    .cta__banner__content {
        display: flex;
        flex: 1;
        padding: 2rem;
        justify-content: space-between;
        flex-direction: column;
    }

    .cta__banner__text {
        display: flex;
        flex-direction: column;
        gap: var(--space-4); /* THIS controls spacing between h2 and p */
    }

    .cta__banner__text h2 {
        font-weight: 400;
    }

    .cta__banner__text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .cta__banner__image {
        display: none;
    }

   /* Show on tablet and desktop */
    @media (min-width: 768px) {

         .cta__banner__wrapper {
            display: flex;
            flex-direction: row;
            height: 335px;
            width: 100%;
         }

        .cta__banner__image {
            display: flex;
            flex: 1;
            overflow: hidden;
        }        }

        .cta__banner__image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0 0.25rem 0.25rem 0;
        }
}
</style>
