---
---
<div class="divider">

</div>

<style>
    .divider {
        grid-column: 2 / 14; /* Skip first and last content column (inset by 1) */
        height: 1px;
        background-color: var(--pj_blue_20);
    }
</style>