---
import Navigation from "../components/Navigation.astro";
---

<header class="header__wrapper">
    <div class="header__logo">
        <a href="/"> <img src="/src/assets/POWERJET HPWJS_Logo-white.svg" /></a>
    </div>
    <nav class="header__nav">
        <div class="header__mobile" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <Navigation />
    </nav>
</header>

<style>
    /* header styles */

    .header__wrapper {
        position: relative;
        width: 100vw;
        
         /* Create inner grid matching parent */
        display: grid;
        grid-template-columns: 1rem repeat(4, 1fr) 1rem;
        column-gap: 1rem;

        align-items: center;
        padding: 1rem;
        background-color: var(--pj_brand_blue);
        box-shadow: inset 0 -1px 0 var(--pj_grey_10);

        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }

    .header__logo {
        grid-column: 1 / span 2;
        height: auto;
    }

    .header__logo img {
        height: 64px;
    }

    .header__nav {
        grid-column: 12;
    }

     .header__mobile {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 4px;
        z-index: 100;
    }

    .header__mobile span {
        width: 24px;
        height: 2px;
        background-color: white;
        transition: all 0.3s;
    }

    @media screen and (min-width: 768px) {
    .header__wrapper {
        grid-template-columns: 2rem repeat(8, 1fr) 2rem;
        column-gap: 1.5rem;
    }
    
    .header__logo {
        grid-column: 1 / span 2;
    }
    
    .header__nav {
        grid-column: 9 / -2;
        justify-self: end;
    }
}


        @media screen and (min-width: 1024px) {
    .header__wrapper {
        grid-template-columns: 3rem repeat(12, 1fr) 3rem;
    }
    
    .header__logo {
        grid-column: 1 / span 3;
    }
    
    .header__nav {
        grid-column: 13 / -2;
    }

</style>

<script>
    function toggleMenu() {
        const navLinks = document.querySelector(".nav-links");
        const hamburger = document.querySelector(".header__mobile");
        navLinks?.classList.toggle("active");
        hamburger?.classList.toggle("active");
    }

    // Attach event listener after DOM is loaded
    document.addEventListener("DOMContentLoaded", () => {
        const hamburger = document.querySelector(".header__mobile");
        hamburger?.addEventListener("click", toggleMenu);
    });
</script>
