---
import Navigation from '../components/Navigation.astro';
---
<header class="header__wrapper">
    <div class="header__logo">
        <a href="/"> <img src="/src/assets/POWERJET HPWJS_Logo-white.svg" /></a>
    </div>
    <nav class="header__nav">
        <Navigation />
    </nav>
</header>