---
import Divider from "./Divider.astro";
import ContentBlock from "./ContentBlock.astro";
---

    <Divider />
    <div class="block__wrapper">
    <ContentBlock
    SectionTitle="About us"
    BodyCopy="For over 20 years, Powerjet has been a trusted supplier of High-Pressure and Ultra High-Pressure Water Jetting Units, delivering complete solutions for the toughest industrial challenges."
    width="regular"
    HeadingSize="small"
    />
    </div>


<style>
.block__wrapper {
    grid-column: 3 / 8;
    display: flex;
    flex-direction: column; 
    margin-top: 1.5rem;
}


</style>
