---
---
<div class="nav-links" id="nav-menu">
    <ul>
        <li>
            <a href="/"> <img src="/src/assets/POWERJET HPWJS_Logo-white.svg" /></a>
        </li>
        <li>
            <a href="/sales">Sales</a>
        </li>
        <li>
            <a href="/rentals">Rentals</a>
        </li>
        <li>
            <a href="/services">Services</a>
        </li>
        <li>
            <a href="/applications">Applications</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>

