---
---
<div class="nav-links">
    <ul>
        <li>
            <a href="/sales">Sales</a>
        </li>
        <li>
            <a href="/rentals">Rentals</a>
        </li>
        <li>
            <a href="/services">Services</a>
        </li>
        <li>
            <a href="/applications">Applications</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>

