---
interface Props {
    Headline: string;
    HeadingSize?: "small" | "regular" | "large";
}

const { Headline } = Astro.props;
const { HeadingSize = "regular" } = Astro.props;
---

<div class="section__title" data-variant={HeadingSize}>
    <h2>{Headline}</h2>
</div>

<style>
    .section__title h2 {
        font-family: "Instrument Sans";
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 125% */
        letter-spacing: -1.5%;
        color: var(--pj_brand_blue);
        margin-bottom: 1rem;
    }

    .section__title[data-variant="small"] h2 {
        font-size: 1.125rem;
    }

    .section__title[data-variant="regular"] h2 {
        font-size: 1.5rem;
    }

     .section__title[data-variant="large"] h2 {
        font-size: 1.75rem;
    }

      @media screen and (min-width: 768px) {
             .section__title[data-variant="small"] h2 {
        font-size: 1.125rem;
    }

    .section__title[data-variant="regular"] h2 {
        font-size: 2rem;
    }

     .section__title[data-variant="large"] h2 {
        font-size: 2.5rem;
    }
        }
    
</style>
