<div class="spec-list">
    <div class="spec-list__title">
        <slot name="title" />
    </div>
    <div class="spec-list__data">
        <span><slot name="data" /></span>
    </div>
</div>

<style>
    .spec-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .spec-list__title {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .spec-list__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.25rem;
    }

    .spec-list__data {
        font-weight: normal;
    }

</style>
