---
interface Props {
    Headline: string;
    SubHeadline: string;
}

const { Headline } = Astro.props;
const { SubHeadline } = Astro.props;
---

<div class="hero__text__wrapper">
    <div class="hero__content">
        <div class="hero__headline">
            <h1>
                {Headline}
            </h1>
        </div>
        <div class="hero__subheadline">
            <p>
                {SubHeadline}
            </p>
        </div>
    </div>

    <style>
        h1 {
            color: var(--core-pj-blue-05, #f3f6f6);
            font-family: "Instrument Sans";
            font-size: 88px;
            font-style: normal;
            font-weight: 600;
            line-height: 72px; /* 81.818% */
            letter-spacing: -1.496px;
        }
        .hero__text__wrapper {
            /* Create inner grid matching parent */
            display: grid;
            grid-template-columns: 1rem repeat(4, 1fr) 1rem;
            column-gap: 1rem;
            height: 519px;
            background: var(--pj_brand_blue);
             width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
            color: white;
        }

        .hero__content {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between; /* Pushes text to top, button to bottom */
            padding: 2rem; /* Inset from edges */
        }

        .hero__subheadline {
            width: 464px;
        }

        @media screen and (min-width: 768px) {
            .hero__headline {
            }
        }
    </style>
</div>
