---
interface Props {
    Headline: string;
    SubHeadline: string;
}

const { Headline } = Astro.props;
const { SubHeadline } = Astro.props;
---

<div class="hero__text-wrapper">
    <div class="hero__content">
        <div class="hero__headline">
            <h1>
                {Headline}
            </h1>
        </div>
        <div class="hero__subheadline">
            <p>
                {SubHeadline}
            </p>
        </div>
    </div>

    <style>
        h1 {
            color: var(--core-pj-blue-05, #f3f6f6);
            font-family: "Instrument Sans";
            font-size: 72px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px; /* 81.818% */
            letter-spacing: -1.496px;
        }

        .hero__text-wrapper {
            /* Create inner grid matching parent */
            display: grid;
            position: relative;
            grid-template-columns: subgrid;

            height: 519px;
            background: var(--pj_brand_blue);
            width: 100vw;

            color: white;

            grid-column: 1 / -1;

            margin-bottom: 7.75rem;
        }

        .hero__content {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between; /* Pushes text to top, button to bottom */
            padding: 2rem; /* Inset from edges */
        }

       

        /* Tablet */
        @media screen and (min-width: 768px) {
            h1 {
            font-size: 88px;
            line-height: 80px; /* 81.818% */

            }

            .hero__text-wrapper {
                grid-template-columns: subgrid;
            }

            .hero__content {
                grid-column: 1 / 7; /* Use more columns on tablet */
            }
        }

        /* Desktop */
        @media screen and (min-width: 1024px) {
            .hero__text-wrapper {
                grid-template-columns: subgrid;
            }

            .hero__content {
                grid-column: 1 / 6; /* Spans 6 columns on desktop */
            }

            .hero__subheadline {
                max-width: 100%; /* Allow full width of container */
            }
        }
    </style>
</div>
