---

---

<div class="hero" id="hero__video">
    <video autoplay muted loop playsinline>
        <source
            src="/src/assets/PJ-Quick-Edit-for-web-mockup.mp4"
            type="video/mp4"
        />
    </video>

    <div class="hero__headline">
        <h1>High-Pressure and Ultra High-Pressure Water Jetting Equipment</h1>
    </div>
</div>

<style>
    .hero {
        width: 100%;
        height: 642px;
        overflow: hidden;
        position: relative;
        margin-bottom: 7.75rem;
    }

    .hero__headline {
        position: absolute;
        bottom: 2rem; /* Distance from bottom */
        left: 2rem; /* Distance from left */
        right: 2rem; /* Distance from right */
        width: auto;
        color: white;
        text-align: left;
        z-index: 1;
    }

    #hero__video video {
        width: 100%;
        height: 642px;
        object-fit: cover;
        z-index: 0;
    }


    @media screen and (min-width: 768px) {
        .hero__headline {
            width: 50%;

        }
    }

</style>
