---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ImageHero from "../components/ImageHero.astro";
import TextBlock from "../components/TextBlock.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ContactBlock from "../components/ContactBlock.astro";
import Card from "../components/Card.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Powerjet Rentals UK</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet"
        />
    </head>
    <Header />
    <body>
        <div class="page-grid">
            <ImageHero
                imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
                imgAlt="MagTrack unit removing paint from the side of a ship's hull"
            />

            <div class="link__prev-page-wrapper">
                <a href="/applications">
                    <div class="link__prev-page">
                        <span class="material-symbols-outlined">arrow_back</span
                        >
                        <p>Back to applications</p>
                    </div>
                </a>
            </div>

            <div class="section__applications-details-wrapper">
                <div class="section__applications-details">
                    <SectionTitle
                        Headline="Surface Preparation"
                        HeadingSize="large"
                    />
                    <TextBlock
                        BodyCopy="High-pressure and ultra high-pressure water jetting effectively prepares and clean surfaces, removing coatings, rust, and other stubborn residues."
                        fontSize="lede"
                    />
                    <TextBlock
                        BodyCopy="This method thoroughly cleans without causing damage or compromising the surface’s structural integrity. Powerjet offer automated solutions for increased productivity and safety. "
                        fontSize="regular"
                    />
                </div>
            </div>

            <div class="divider__border"></div>

            <section class="section__applications-recommended-products">
                <div class="section__applications-recommended-products-title">
                    <SectionTitle
                        Headline="Recommended Products"
                        HeadingSize="small"
                    />
                </div>
                <div class="section__applications-recommended-products-cards">
                    <Card
                        imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imgAlt="MagTrack unit removing paint from the side of a ship's hull"
                        hrefLink="/application-detail"
                        buttonLabel="Surface Preparation"
                        icon={true}
                        ;
                        style="light"
                    />
                    <Card
                        imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imgAlt="MagTrack unit removing paint from the side of a ship's hull"
                        hrefLink="/sales"
                        buttonLabel="Sales"
                        icon={true}
                        ;
                        style="light"
                    />
                    <Card
                        imgSrc="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imgAlt="MagTrack unit removing paint from the side of a ship's hull"
                        hrefLink="/sales"
                        buttonLabel="Sales"
                        icon={true}
                        ;
                        style="light"
                    />
                </div>
            </section>

            <ContactBlock />
        </div>
    </body>
    <Footer />

    <style>
        .link__prev-page-wrapper {
            grid-column: 2 / -2; /* ✅ Added: Position in grid */
            display: flex;
            margin-bottom: 3rem;
        }

        .link__prev-page-wrapper a {
            text-decoration: none;
            color: var(--pj_brand_blue);
        }

        .link__prev-page {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }

        .section__applications-details-wrapper {
            grid-column: 2 / -2; /* Span the content columns of page grid */
            display: grid;
            grid-template-columns: subgrid; /* Inherit parent grid columns */
            margin-bottom: 3rem;
            gap: 1rem;
        }

        .section__applications-details {
            display: flex;
            flex-direction: column;
            grid-column: 1 / -1;
            gap: 1rem;
        }

        .section__applications-recommended-products {
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 2 / -2;
            margin-bottom: 7.75rem;
        }

        .section__applications-recommended-products-cards {
            display: grid;
            gap: 1.5rem;
            grid-column: 2 / -2;
        }

        .divider__border {
            margin-bottom: 1rem;
            height: 100%;
        }

        @media screen and (min-width: 768px) {

            .link__prev-page-wrapper {
            display: flex;
            height: 100%;
            margin-bottom: 5rem;
        }

            .section__applications-details-wrapper {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 2 / -2;
                margin-bottom: 5rem;
            }

            .section__applications-details {
                display: flex;
                grid-column: 1 / 8;
                gap: 1rem;
            }

            .section__applications-recommended-products {
                display: grid;
                grid-template-columns: 1fr;
                grid-column: 2 / -2;
                margin-bottom: 7.75rem;
                gap: 1rem;
            }

            .section__applications-recommended-products-cards {
                display: grid;
                grid-template-columns: repeat(
                    3,
                    1fr
                ); /* Tablet/Desktop: 3 columns */
                gap: 1.5rem;
                grid-column: 2 / -2;
                margin-bottom: 4rem;
            }
        }
        @media screen and (min-width: 1024px) {
            .section__applications-details {
                display: flex;
                grid-column: 1 / 9;
            }
        }
    </style>


</html>
