---
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";
import HomeHero from "../components/Sections/HomeHero.astro";

interface Props {
	title: string;
	heroVideoUrl?: string;
	heroHeadline?: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
	<Header />
	<slot name="hero" />
	<div class="page-grid">
		<slot />
	</div>
	<Footer />
</BaseLayout>
